@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: 'WorkSans';
    src: url('/assets/fonts/work-sans/WorkSans-Regular.ttf')
}