:root {
    --background-fallback: #8A2387;
    --gradient: linear-gradient(to bottom right, #8A2387, #f1650e);
    --heading-font: 'Poppins', serif;
    --body-font: 'WorkSans', serif;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-family: var(--body-font);
    font-size: 1.8rem;
}

h1, h2, h3, h4, h5 {
    font-family: var(--heading-font);
}

a {
	text-decoration: underline;
	cursor: pointer;
}

button, .button {
   background: var(--background-fallback); 
   background: var(--gradient);
   color: white;
   padding: 0.5rem 1rem;
}

.section-inner {
    max-width: 960px;
	margin: 0 auto;
}