---
// Component Imports
import Header from '../components/Header.svelte';
import Techs from '../components/Techs.svelte';
import Work from '../components/Work.svelte';
import Timeline from '../components/Timeline.svelte';
import Footer from '../components/Footer.svelte';

import '../styles/reset.css'
import '../styles/fonts.css'
import '../styles/global.css'
import '../styles/home.css'
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Ross Whitehouse</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
	<main>
		<Header />

		<section class="hero">
			<div class="section-inner">
				<h1>Hi, I'm Ross Whitehouse</h1>
				<p>I work on Customer Education platforms and Internal Tools.</p>
				<p>I'm a great communicator, a problem solver and a life-long learner.</p>
				<p>I care about accessibility, inclusivity, diversity and culture.</p>
				<p>I have a real life too. Honest.</p>
			</div>
		</section>

		<Techs />

		<Work />

		<Timeline />

		<Footer />
	</main>
</body>
</html>
