---
// Component Imports
import Header from '../components/Header.svelte';
import Techs from '../components/Techs.svelte';
import Work from '../components/Work.svelte';
import Timeline from '../components/Timeline.svelte';
import Footer from '../components/Footer.svelte';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Ross Whitehouse</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" href={Astro.resolve('../styles/reset.css')}>
	<link rel="stylesheet" href={Astro.resolve('../styles/fonts.css')}>
	<link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
	<link rel="stylesheet" href={Astro.resolve('../styles/home.css')}>
</head>
<body>
	<main>
		<Header />

		<section class="hero">
			<div class="section-inner">
				<h1>Hi, I'm Ross Whitehouse</h1>
				<p>I'm an internal tools specialist, mentor and life-long learner.</p>
				<p>I care about accessibility, inclusivity, diversity and culture.</p>
				<p>I like <a href="https://ggapp.io/rossdw">video games</a>, movies, <a href="https://www.instagram.com/p/CYPuKgdo813/">books</a> and <a href="https://rosswhitehouse.notion.site/Podcasts-77d293f5d7554b9982fbedac6f39f1e7">podcasts</a>.</p>
			</div>
		</section>

		<Techs />

		<Work />

		<Timeline />

		<Footer />
	</main>
</body>
</html>
