---
// Component Imports
import Header from '../components/Header.svelte';
import Techs from '../components/Techs.svelte';
import Work from '../components/Work.svelte';
import Timeline from '../components/Timeline.svelte';
import Footer from '../components/Footer.svelte';

import '../styles/reset.css'
import '../styles/fonts.css'
import '../styles/global.css'
import '../styles/home.css'
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Ross Whitehouse</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
	<main>
		<Header />

		<section class="hero">
			<div class="section-inner">
				<h1>Hi, I'm Ross Whitehouse</h1>
				<p>I work on Customer Education platforms and Internal Tools.</p>
				<p>I'm a great communicator, a problem solver and a life-long learner.</p>
				<p>I have a real life too. Honest. I like <a href="https://letterboxd.com/RossDoubleU/">Movies</a> and <a href="https://www.instagram.com/rossdwhitehouse/">Books</a> and <a href="https://ggapp.io/rossdw">Video Games</a>.</p>

				<blockquote>
					<p><em>"One of the most conscientious individuals I have had the fortune of working with."</em> - Nick, Dir. Customer Support</p>
					<p><em>"When something goes wrong with any of our platforms, Ross will have not one, but at least three different ways we can find a solution"</em> - Karissa, Customer Education Lead</p>
					<p><em>"What is it you do again?"</em> - Dad, Electrician.</p>
				</blockquote>
			</div>
		</section>

		<Techs />

		<Work />

		<Timeline />

		<Footer />
	</main>
</body>
</html>
